---
import ImageCard from "../../components/ImageCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="First Year">
  <main class="p-4">
    <div class="flex flex-col items-center justify-center mb-4">
      <h1 class="mb-2 text-3xl md:text-5xl font-bold">First Year</h1>
      <p>first yearbook and qoute of our class</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
      <ImageCard
        img="/nahom.jpg"
        name="Nahom Legesse"
        qoute="Your passion is calling you from miles a way."
      />
      <ImageCard
        img="/abdi.jpg"
        name="Abdeta Terefe"
        qoute="I am rarely bored alone; I am often bored in groups and crowds."
      />
      <ImageCard
        img="/luel.jpg"
        name="Luel Anteneh"
        qoute="ምን እንደምጽፍ አልነገረኝም።"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
    </div>
  </main>
</Layout>
