---
import ImageCard from "../../components/ImageCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="First Year">
  <main class="p-4">
    <div class="flex flex-col items-center justify-center mb-4">
      <h1 class="mb-2 text-3xl md:text-5xl font-bold">First Year</h1>
      <p>first yearbook and qoute of our class</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
      <ImageCard
        img="/nahom.jpg"
        name="Nahom Legesse"
        qoute="Your passion is calling you from miles a way."
      />
      <ImageCard
        img="/abdi.jpg"
        name="Abdeta Terefe"
        qoute="I am rarely bored alone; I am often bored in groups and crowds."
      />
      <ImageCard
        img="/luel.jpg"
        name="Luel Anteneh"
        qoute="áˆµáˆˆáŠ¥áŠ” áˆ˜áŒ¥áŽ áŠáŒˆáˆ­ áˆ˜áŠ“áŒˆáˆ­ áŠ¨ááˆˆáŒáŠ­ áŠ¥áŠ” áŒ‹áˆ­ áŠ“ áˆŒáˆ‹áˆ á‰¥á‹™ áŠáŒáˆ­áˆ€áˆˆá‹ðŸ‘¿ðŸ’©á¢"
      />
      <ImageCard
        img="/murad.jpg"
        name="Murad Hussien"
        qoute="after hardship comes ease."
      />
      <ImageCard
        img="/dagim.jpg"
        name="Dagim Nega"
        qoute="Make yourself proud."
      />
      <ImageCard
        img="/mula.jpg"
        name="Mullahumer Abdulkadir"
        qoute="The begining of becoming strong is thinking strong."
      />
      <ImageCard
        img="/hunda.jpg"
        name="Hundaol Worku"
        qoute="People change even satan used to be an angle."
      />
      <ImageCard
        img="/ermi.jpg"
        name="Ermiyas Alemu"
        qoute="Prepare yourself for lifelong way, and make sure to make each day count."
      />
      <ImageCard
        img="/avatar.png"
        name="Abdi Yoda"
        qoute="well well what do i say"
      />
    </div>
  </main>
</Layout>
